/* ==========================================================================
   Mixins
   ========================================================================== */
/* ==========================================================================
   Variables
   ========================================================================== */
/* ==========================================================================
   Gallery
   ========================================================================== */
.box-typical .box-typical-header .action-btn.view {
  color: #c5d6de;
}
.box-typical .box-typical-header .action-btn.view.active,
.box-typical .box-typical-header .action-btn.view:hover {
  color: #919fa9;
}
.gallery-grid {
  zoom: 1;
  padding: 8px;
}
.gallery-grid:before,
.gallery-grid:after {
  content: " ";
  display: table;
}
.gallery-grid:after {
  clear: both;
}
.gallery-grid .gallery-col {
  float: left;
  width: 33%;
  padding: 7px;
}
.gallery-item {
  position: relative;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  overflow: hidden;
}
.gallery-item p {
  margin: 0;
}
.gallery-item .gallery-picture {
  display: block;
  width: 100%;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.gallery-item .gallery-hover-layout {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 101%;
  height: 101%;
  display: table;
  border-collapse: separate;
  border-spacing: 0;
}
.gallery-item .gallery-hover-layout-in {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background: rgba(0, 168, 255, 0.9);
  padding: 10px;
  color: #fff;
  max-width: 100px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.gallery-item .gallery-item-title {
  font-weight: 600;
}
.gallery-item p {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.gallery-item .btn-group {
  padding: .75rem 0;
}
.gallery-item .btn-group .btn {
  background: none;
  border: solid 1px #fff;
}
.gallery-item .btn-group .btn:hover {
  background-color: #fff;
  color: #00a8ff;
}
.gallery-item .btn-group .btn .font-icon-cloud {
  position: relative;
  top: 1px;
}
.gallery-item:hover .gallery-hover-layout {
  opacity: 1;
}
.gallery-item .gallery-doc {
  display: table;
  border-collapse: separate;
  border-spacing: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.gallery-item .gallery-doc-in {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
  border: solid 1px #c5d6de;
  background: #f6f8fa;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  max-width: 100px;
}
.gallery-item .gallery-doc-in .font-icon {
  color: #adb7be;
  font-size: 2rem;
}
@media (min-width: 1550px) {
  .gallery-grid .gallery-col {
    width: 16.666667%;
  }
}
@media (min-width: 1800px) {
  .gallery-grid .gallery-col {
    width: 14.285714%;
  }
}
@media (max-width: 1350px) {
  .gallery-grid .gallery-col {
    width: 25%;
  }
}
@media (max-width: 1150px) {
  .gallery-grid .gallery-col {
    width: 33.333333%;
  }
}
@media (max-width: 767px) {
  .gallery-grid .gallery-col {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .gallery-grid .gallery-col {
    width: 100%;
  }
}
