  html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */

  background-color: #FAFAFA;
}

.login-box {
  margin-top: 105px;
  text-align: center;
  width: 315px;
  background-color: white;
  padding:20px;
}
.pass-box {
  text-align: center;
  width: 315px;
  background-color: white;
}
.phone-box {
  padding-top: 45px;  

}

.logo {
  /*height: 70px;*/
  margin-bottom: 30px;
}
.form-control {
  margin-bottom: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    text-align: center;
    padding: 14px 16px;
}
.picHolder img {
    z-index: 8;
}
.picHolder img.active {
    z-index: 10;
}
.picHolder img.last-active {
    z-index: 9;
}

.iphone {
  background-image:url(/assets/img/iphone.png);
  background-repeat: no-repeat;
  /**background-size:454px 618px;**/
  background-size:412px 560px;
  flex-basis:412px;
  height:560px;
  margin-left:0;
  margin-right:-15px
}
.screen {
  margin:10px 0 0 135px;
  position:relative
}
.content {
  /**height: 427; **/
  height: 391px;
  left:0;
  opacity:0;
  position:absolute;
  top:88px;
  visibility:hidden;
  overflow:hidden;
  width:221px
}
._content,._mpbzm {
  opacity:1;
  visibility:visible
}
.space{
  margin-top:0 !important;
}
.footer_color{
  color:#999;
}

@media (max-width: 1166px) {
  .iphone {
    background-image:url(/assets/img/iphone.png);
    background-repeat: no-repeat;
    background-size:396px 540px;
    flex-basis:396px;
    height:540px;
    margin-left:0;
    margin-right:-15px
  }
}
@media (max-width: 544px) {
  .iphone {
    background-image:url(/assets/img/iphone.png);
    background-repeat: no-repeat;
    background-size:227px 309px;
    flex-basis:227px;
    height:309px;
    margin-left:-27px;
    margin-right:-8px
  }
  .screen {
    margin:5px 0 0 75px;
    position:relative
  }
  .content {
    height: 214px;
    left:0;
    opacity:0;
    position:absolute;
    top:50px;
    visibility:hidden;
    overflow:hidden;
    width:120px
  }
  ._content,._mpbzm {
    opacity:1;
    visibility:visible
  }
  .login-box {
    margin-top: 35px;
    text-align: center;
    width: 171px;
    background-color: white;
    padding:15px;
  }
  .pass-box {
    text-align: center;
    width: 171px;
    background-color: white;
  }
}