
#iphone {
  margin: auto;
  width: 321px;
  height: 570px;
  position: relative;
  background: url(http://images.apple.com/v/ios/ios7/a/images/hardware_iphone_large.png) no-repeat;
  background-size:100% 100%;

}
#screen {
  width: 238px;
  height: 406px;
  position: absolute;
  overflow:hidden;
  top: 90px;
  left: 41px;
  /*background: url(http://www.iphoneinformer.com/wp-content/uploads/2013/06/2013-06-11-01.10.32.png?b3c319) no-repeat;*/
  background-size: 238px 406px;
}
.home-button {
  width: 53px;
  height: 53px;
  position: absolute;
  top: 522px;
  left: 273px;
  background: transparent;
  border-radius: 100px;
}
/*
zSlider - A beautiful JQuery Image Slider by Zeeshan Rasool | www.99points.info 
http://99points.info
All rights reserved by 99points.info
*/
#zBackground { width:750px; height:350px; background:url(bg.jpg) top left repeat-x; padding-top:9px; 
-webkit-border-radius: 4px 4px 4px 4px;-moz-border-radius: 4px 4px 4px 4px;border-radius: 4px 4px 4px 4px; 
}

#zGalleryArea{ width:742px; height:270px; padding-left:10px; }

#zOverlay{ position:absolute; background:url(overlay.png) top left no-repeat; height:74px; width:74px;}

#zMainImage{ float:left; margin-right:5px; padding-top:1px; }


#zThumbs{ float:left;  margin-left:4px; }

#zThumbs ul{ margin:0px; padding:0px; list-style-type:none; }

#zThumbs ul li{ margin:0px; padding:5px; list-style-type:none; cursor:pointer; float:left; background:url(overlay2.png) top left no-repeat; }

.zLoader{ margin-top:120px;}

.zSpace{   background:#000 }
.zMainImage{  }

/*#captions {
  position:relative; 
  top:0px; 
  height:55px;
  width:373px;
  background: black;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  font: 15px Tahoma, Helvetica, Arial, Sans-Serif;
  text-align: justify;
  padding: 5px;
  opacity: 0.8;
  color: #CCC;
  text-shadow: 0px 2px 3px #555;
  border-image: initial;
}*/

#zControls{ cursor:pointer; }

#zControls img{ float:left; }

.zStop{ background:url(stop.png) top left no-repeat; width:44px; height:24px; float:right; margin-left:5px; margin-right:10px;}
.zStop:hover{ background:url(stoph.png) top left no-repeat;}

.zStopClicked{ background:url(stoph.png) top left no-repeat; width:44px; height:24px; float:right; margin-left:5px; margin-right:10px;}

.zNextPrev{ background:url(next.png) top left no-repeat; width:53px; height:24px; float:right; margin-right:7px;}

#zThumbs ul li img.zImages
{
  -webkit-border-radius: 4px 4px 4px 4px;-moz-border-radius: 4px 4px 4px 4px;border-radius: 4px 4px 4px 4px;
  width:100px; height:100px;
  border:0px;
}